<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/admin/admin.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrap">
        <h1 id="admin_title">管理者 ログイン</h1>
        <div class="admin_login">
            <form method="post" action="/admin">
                <ul class="main">
                    <li> ID  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="id_box" type="text" name="userid"></li>
                    <li> パスワード  <input class="pass_box" type="password" name="userpw"></li>
                    <span class="login_btn">
                        <input class="a" type="submit" value="ログイン">
                    </span>
                </ul>
            </form>
        </div>
    </div>
</body>
</html>