<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .user_list {
            border-collapse: collapse;
        }

        .user_list td {
            border: 1px solid rgb(45, 111, 236);
        }


    </style>
</head>
<body>
    <div>
        <div><a href="">사용자목록</a></div>
    </div>
    <div>
        <div><h1>글목록</h1></div>
    </div>

    <div>
        <table class="user_list">
            <tr>
                <td>이름</td>
                <td>아이디</td>
                <td>전화번호</td>
                <td>나이</td>
                <td>삭제</td>
            </tr>

            <tr>
                <td>abc</td>
                <td>test</td>
                <td>010-2222-1111</td>
                <td>20</td>
                <td><button>X</button></td>
            </tr>
        </table>
    </div>
</body>
</html>