<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>クレヨンしんちゃん公式のインターネット通販サイト「クレヨンしんちゃん公式オンラインショップ」。しんちゃんをはじめ、シロやぶりぶりざえもんなどのキャラクターグッズが揃っています!</title>
    <link href="/css/admin/user_view.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrap">
        <div class="logout_group">
            <button class="logout_btn"><a href="/logout">ログアウト</a></button>
        </div>
        <div>
            <h1 id="user_info">見る</h1>
        </div>
        <div class="user_info_list">
            <span> ID  </span>
            <span><input type="text" name="" id="" value="{{content.userid}}"></span><br/>
            <span> 名前 </span>
            <span><input type="text" name="" id="" value="{{content.username}}"></span><br/>
            <span> ニックネーム </span>
            <span><input type="text" name="" id="" value="{{content.nickname}}"></span><br/>
            <span> 携帯番号 </span>
            <span><input type="text" name="" id="" value="{{content.tell}}"></span><br/>
            <span>性別 </span>
            <span><input type="text" name="" id="" value="{{content.gender}}"></span><br>
            <span> 住所  </span>
            <span><input type="text" name="" id="" value="{{content.address}}"></span><br/>
            <span> 生年月日  </span>
            <span><input type="text" name="" id="" value="{{content.birth}}"></span><br/>
            <span> email  </span>
            <span><input type="text" name="" id="" value="{{content.email}}"></span><br/>
            <div id="button_group">
                <button id="user_list_btn">
                    <a href="/admin/userList">リスト</a>
                </button>
                <button id="user_update_btn">
                    <a href="/admin/userUpdate?userid={{content.userid}}">修正</a>
                </button>
            </div>
        </div>
    </div>
</body>
</html>