<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><h1>회원 정보 보기</h1></div>
    <span> 이름 : </span>
    <span><input type="text" name="" id="" value="{{content.username}}"></span><br/>
    <span> 나이: </span>
    <span><input type="text" name="" id=""></span><br/>
    <span> 가입날자: </span>
    <span><input type="text" name="" id=""></span><br/>
    <span> 전화번호: </span>
    <span><input type="text" name="" id=""></span><br/>
    <span>성별: </span>
    <span><input type="text" name="" id=""></span><br>
    <!-- <div><button>수정</button>
    <button>탈퇴</button>
    <button>활동중지</button> -->
    </div>
</body>
</html>