<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/admin/user_view.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrap">
        <div class="logout">
            <button><a href="/logout">로그아웃</a></button>
        </div>
        <div><h1 id="user_info">회원 정보 보기</h1></div>
        <div class="user_info_list">
            <span> 아이디 : </span>
            <span><input type="text" name="" id="" value="{{content.userid}}"></span><br/>
            <span> 이름: </span>
            <span><input type="text" name="" id="" value="{{content.username}}"></span><br/>
            <span> 별명: </span>
            <span><input type="text" name="" id="" value="{{content.nickname}}"></span><br/>
            <span> 전화번호: </span>
            <span><input type="text" name="" id="" value="{{content.tell}}"></span><br/>
            <span>성별: </span>
            <span><input type="text" name="" id="" value="{{content.gender}}"></span><br>
            <span> 주소 : </span>
            <span><input type="text" name="" id="" value="{{content.address}}"></span><br/>
            <span> 생년월일 : </span>
            <span><input type="text" name="" id="" value="{{content.birth}}"></span><br/>
            <span> 이메일 : </span>
            <span><input type="text" name="" id="" value="{{content.email}}"></span><br/>
            <button id="user_list_btn">
                <a href="/admin/userList">회원목록으로 돌아가기</a>
            </button>
            <button id="user_update_btn">
                <a href="/admin/userUpdate?userid={{content.userid}}">수정하기로 가기</a>
            </button>
        </div>
    </div>
</body>
</html>