<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/admin/user_list.css" rel="stylesheet" type="text/css">
    <!-- <style>
        .logout {
            display: flex; 
            justify-content: flex-end;
        }
        .user_table {
            width: 100%;
            border-collapse: collapse;
        }
        th {
            border: 0.5px solid #000;
            background-color: #acc4b4;
        }
        .user_table td {
            border: 0.5px solid rgb(85, 4, 85);
            padding: 5px;
        }
    </style> -->
</head>
<body>
    <div id="wrap">
        <div>
            <div><a href="">管理</a></div>
        </div>
        <div class="logout">
            <button><a href="/logout">ログアウト</a></button>
        </div>
        <div>
            <div><h1 id="user_list">見る</h1></div>
        </div>
        <div class="main_content"> 
            <table class="user_table">
                <tr>
                    <th>아이디</th>
                    <th>이름</th>
                    <th>닉네임</th>
                    <th>성별</th>
                    <th>전화번호</th>
                    <th>주소</th>
                    <th>Email</th>
                    <th>level</th>
                    <th>active</th>
                    <th>레벨설정</th>
                    <th>활동중지</th>
                    <th></th>
                </tr>
                {% for item in content %}
                <tr>
                    <form action="/admin/userLevelUpdate" method="post">
                    <!-- <td>{{item.idx}}</td> -->
                        <td>{{item.userid}}</td>
                        <td><input name="userid" value="{{item.userid}}" style="display: none;"> 
                            <a href="/admin/userView?userid={{item.userid}}">{{ item.username}}</a></td>
                        <td>{{item.nickname}}</td>
                        <td>{{item.gender}}</td>
                        <td>{{item.tell}}</td>
                        <td>{{item.address}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.level}}</td>
                        <td>{{item.active}}</td>
                        <td>
                            <select name="level">
                                <option value="2">관리자</option>
                                <option value="3">회원</option>
                            </select>
                        </td>                     
                        <td>
                            <select name="active" >
                                <option value="1" >활성화</option>
                                <option value="0">비활성화</option>
                            </select>
                        </td>
                        <td>
                            <button type="submit">保存</button>
                        </td> 
                </form>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>