<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <button><a href="/logout">로그아웃</a></button>
    </div>
    <div><h1>회원 정보 수정하기</h1></div>
    <form action="/admin/userUpdate" method="post">
        <span> 아이디: </span>
        <span><input type="text" name="userid" value="{{content.userid}}"></span><br/>
        <span> 이름 : </span>
        <span><input type="text" name="username" value="{{content.username}}"></span><br/>
        <span> 별명: </span>
        <span><input type="text" name="nickname" value="{{content.nickname}}"></span><br/>
        <span> 전화번호: </span>
        <span><input type="text" name="tell" value="{{content.tell}}"></span><br/>
        <span>성별: </span>
        <span><input type="text" name="gender" value="{{content.gender}}"></span><br>
        <span>주소: </span>
        <span><input type="text" name="address" value="{{content.address}}"></span><br>
        <span>생년월일: </span>
        <span><input type="text" name="birth" value="{{content.birth}}"></span><br>
        <span>이메일: </span>
        <span><input type="text" name="email" value="{{content.email}}"></span><br>
    
    <div>
        <input type ="submit" value="회원정보수정하기"> 
        <input type ="submit" value= "회원리스트로 가기">
        <!-- <button><a href="/admin/userView">뒤로가기</a></button> 이건안되고 인풋만 되고 리스트로 가지네 왜지? -->
    </form>
    <form action="/admin/userActiveUpdate" method="post">
        <input type="text" name="userid" value="{{content.userid}}" style="display:none;" />
        <input type="text" name="active" value="{{content.active}}" style="display:none;" />
        <input type="submit" value="활동중지" >
        
    </form>    
      
    
    </div>
</body>
</html>