<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div><a href="">관리자 회원관리</a></div>
    </div>
    <div>
        <div><h1>회원 목록</h1></div>
    </div>
    <div>
        <table>
            <tr>
                <td>no.</td>
                <td>이름</td>
                <td>닉네임</td>
                <td>성별</td>
                <td>전화번호</td>
                <td>Email</td>
                <td>level</td>
            </tr>
            {% for item in content %}
            <tr>
                <td>{{item.idx}}</td>
                <td><a href="/admin/userView?idx={{item.idx}}">{{ item.username}}</a></td>
                <td>{{item.nickname}}</td>
                <td>{{item.gender}}</td>
                <td>{{item.tell}}</td>
                <td>{{item.email}}</td>
                <td>{{item.level}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>