<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/admin/user_update.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrap"> 
        <div class="logout">
            <button calss="a"><a href="/logout">ログアウト</a></button>
        </div>
        <div><h1>修正</h1></div>
        <div class="user_info">
            <form action="/admin/userUpdate" method="post">
                <span> ID: </span>
                <span><input type="text" name="userid" value="{{content.userid}}"></span><br/>
                <span> 名前 : </span>
                <span><input type="text" name="username" value="{{content.username}}"></span><br/>
                <span> ニックネーム: </span>
                <span><input type="text" name="nickname" value="{{content.nickname}}"></span><br/>
                <span>性別: </span>
                <span><input type="text" name="gender" value="{{content.gender}}"></span><br>
                <span> 携帯番号: </span>
                <span><input type="text" name="tell" value="{{content.tell}}"></span><br/>
                <span>住所: </span>
                <span><input type="text" name="address" value="{{content.address}}"></span><br>
                <span>生年月日: </span>
                <span><input type="text" name="birth" value="{{content.birth}}"></span><br>
                <span>email: </span>
                <span><input type="text" name="email" value="{{content.email}}"></span><br>

                <input class="userinfo_edit_btn" type ="submit" value="修正"> 
            <input class="user_list_go" type ="submit" value= "リスト">
            <!-- <button><a href="/admin/userView">뒤로가기</a></button> 이건안되고 인풋만 되고 리스트로 가지네 왜지? -->
            </form>
            <form action="/admin/userActiveUpdate" method="post">
                <input type="text" name="userid" value="{{content.userid}}" style="display:none;" />
                <input type="text" name="active" value="{{content.active}}" style="display:none;" />
                <input class="active_stop_btn" type="submit" value="活動停止" >
            </form>  
        </div>
    </div>
</body>
</html>