<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="LOGO">
        <a href="/">LOGO</a>
    </h1>
    <h2 id="profile_title">
        내프로필
    </h2>
    <div class="user_profile">
        <ul>
            <li>
                아이디 {{ content.userid }}
            </li>
            <li>
                이름 {{ content.username }}
            </li>
            <li>
                별명 {{ content.nickname }}
            </li>
            <li>
                성별 {{ content.gender }}
            </li>
            <li>
                주소 {{ content.address }}
            </li>
            <li>
                이메일 {{ content.email }}
            </li>
            <li>
                핸드폰번호 {{ content.tell }}
            </li>
            <li>
                생년월일 {{ content.birth }}
            </li>
        </ul>
        <button id="profile_update_btn"><a href="/user/update?userid={{content.userid}}">수정하기</a></button>
        <form class="m_s_btn" method="post" action="/user/member_secession">
            <input type="hidden" name="userid" value="{{content.userid}}">
            <input type="submit" value="회원탈퇴">
        </form>     
    </div>    
</body>
</html>