<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/user/user_join.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrap">
        <h1 id="LOGO">
            <a href="/">
                <img src="/img/짱구로고이거로.png">
            </a>
        </h1>
        <h1 id="join_title">
            会員登録
        </h1>
        <h4 id="join_explain">
            携帯電話番号はID、パスワードの検索に使用されます
        </h4>
        <div class="user_join">
            <form method="post" action="/user/join">
                <ul>
                    <li>
                        ID: <input type="text" name="userid" id="userid" placeholder="아이디를 입력해주세요">      
                    </li>
                    <li>
                        パスワード: <input type="password" name="userpw" id="userpw" placeholder="패스워드를 입력해주세요">      
                    </li>
                    <li>
                        名前: <input type="text" name="username" id="username" placeholder="이름을 입력해주세요">      
                    </li>
                    <li>
                        ニックネーム: <input type="text" name="nickname" id="nickname" placeholder="별명을 입력해주세요">      
                    </li>
                    <li>
                        生年月日: <input type="text" name="birth" id="birth" placeholder="예시 : 940426">      
                    </li>
                    <li>
                        性別: <input type="radio" name="gender" value="男" checked>男
                                <input type="radio" name="gender" value="女">女      
                    </li>
                    <li>
                        携帯番号: <input type="text" name="tell" id="tell" placeholder="예시 01071614096">      
                    </li>
                    <li>
                        email: <input type="text" name="email" id="email" placeholder="이메일을 입력해주세요">      
                    </li>
                    <li>
                        住所: <input type="text" name="address" id="address" placeholder="주소를 입력해주세요">      
                    </li>
                </ul>
                <input class="join_btn" type="submit" value="登録完了">
            </form>
        </div>
    </div>
</body>
</html>