<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/user/user_update.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1 id="LOGO">
        <a href="/">LOGO</a>
    </h1>
    <h2 id="update_title">
        내정보 수정하기
    </h2>
    <div class="user_update">
        <form method="post" action="/user/update">
            <ul>
                <li>
                    별명 <input type="text" name="nickname" value="{{content.nickname}}">
                </li>
                <li>
                    패스워드 <input type="password" name="userpw" value="{{content.userpw}}">
                </li>
                <li>
                    주소 <input type="text" name="address" value="{{content.address}}">
                </li>
                <li>
                    이메일 <input type="text" name="email" value="{{content.email}}">
                </li>
                <li>
                    핸드폰번호 <input type="text" name="tell" value="{{content.tell}}">
                </li>
            </ul>
            <input class="update_btn" type="submit" value="수정하기">
        </form>
    </div>    
</body>
</html>