<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="LOGO">
        <a href="/">LOGO</a>
    </h1>
    <h2 id="join_title">
        회원가입
    </h2>
    <h4 id="join_explain">
        휴대폰 번호는 아이디/비밀번호 찾기에 사용됩니다
    </h4>
    <div class="user_join">
        <form method="post" action="/user/join">
            <ul>
                <li>
                    아이디 <input type="text" name="userid" id="userid" placeholder="아이디를 입력해주세요">      
                </li>
                <li>
                    패스워드 <input type="password" name="userpw" id="userpw" placeholder="패스워드를 입력해주세요">      
                </li>
                <li>
                    이름 <input type="text" name="username" id="username" placeholder="이름을 입력해주세요">      
                </li>
                <li>
                    별명 <input type="text" name="nickname" id="nickname" placeholder="별명을 입력해주세요">      
                </li>
                <li>
                    생년월일 <input type="text" name="birth" id="birth" placeholder="예시 : 940426">      
                </li>
                <li>
                    성별 <input type="radio" name="gender" value="남자" checked>남 
                            <input type="radio" name="gender" value="여자">여      
                </li>
                <li>
                    핸드폰번호 <input type="text" name="tell" id="tell" placeholder="예시 01071614096">      
                </li>
                <li>
                    이메일 <input type="text" name="email" id="email" placeholder="이메일을 입력해주세요">      
                </li>
                <li>
                    주소 <input type="text" name="address" id="address" placeholder="주소를 입력해주세요">      
                </li>
            </ul>
            <input class="join_btn" type="submit" value="가입완료">
        </form>
    </div>
</body>
</html>