<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/user/user_welcome.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrap">
        <h1 id="LOGO">
            <a href="/">
                <img src="/img/짱구로고이거로.png">
            </a>
        </h1>
        <h2 id="welcome_user">
            ようこそ {{ content.username }}
        </h2>
        <h4 id="welcome_title">
            登録情報
        </h4>
        <div class="user_welcome">
            <ul>
                <li>
                    ID: {{ content.userid }}
                </li>
                <li>
                    名前: {{ content.username }}
                </li>
                <li>
                    性別: {{ content.gender }}
                </li>
                <li>
                    email: {{ content.email }}
                </li>
                <li>
                    住所: {{ content.address }}
                </li>
                <li>
                    携帯番号: {{ content.tell }}
                </li>
            </ul>
        </div>
    </div>
</body>
</html>