<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/user/user_profile.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrap">
        <h1 id="LOGO">
            <a href="/">
                <img src="/img/짱구로고이거로.png">
            </a>
        </h1>
        <h1 id="profile_title">
            내프로필
        </h1>
        <div class="user_profile">
            <ul>
                <li>
                    ID: {{ content.userid }}
                </li>
                <li>
                    名前: {{ content.username }}
                </li>
                <li>
                    ニックネーム: {{ content.nickname }}
                </li>
                <li>
                    性別: {{ content.gender }}
                </li>
                <li>
                    住所: {{ content.address }}
                </li>
                <li>
                    email: {{ content.email }}
                </li>
                <li>
                    携帯番号: {{ content.tell }}
                </li>
                <li>
                    生年月日: {{ content.birth }}
                </li>
            </ul>
            <div id="btn_group">
                <button id="profile_update_btn"><a href="/user/update?userid={{content.userid}}">修正</a></button>
                <form class="m_s_btn" method="post" action="/user/member_secession">
                    <input type="hidden" name="userid" value="{{content.userid}}">
                    <input id ="go_out" type="submit" value="会員脱退">
                </form>  
            </div>   
        </div>   
    </div> 
</body>
</html>