<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/user/user_update.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrap">
        <h1 id="LOGO">
            <a href="/">
                <img src="/img/짱구로고이거로.png">
            </a>
        </h1>
        <h1 id="update_title">
            プロフィール 修正
        </h1>
        <div class="user_update">
            <form method="post" action="/user/update">
                <ul>
                    <li>
                        ニックネーム <input type="text" name="nickname" value="{{content.nickname}}">
                    </li>
                    <li>
                        パスワード&nbsp;&nbsp;&nbsp; <input type="password" name="userpw" value="{{content.userpw}}">
                    </li>
                    <li>
                        住所&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" name="address" value="{{content.address}}">
                    </li>
                    <li>
                        email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="email" value="{{content.email}}">
                    </li>
                    <li>
                        携帯番号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" name="tell" value="{{content.tell}}">
                    </li>
                </ul>
                <div class="update_group">
                    <input class="update_btn" type="submit" value="修正">
                </div>
            </form>
        </div>  
    </div>  
</body>
</html>