<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/user/user_login.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrap">
        <h1 id="login_title">
            ログイン
        </h1>
        <div class="user_login">
            <form method="post" action="/user/login">
                <ul class="main">
                    <li>
                        ID: <input type="text" name="userid" id="userid" placeholder="아이디를 입력해주세요"><br>
                        パスワード: <input type="password" name="userpw" id="userpw" placeholder="비밀번호를 입력해주세요">
                    </li>
                </ul>
                <input class="login_btn" type="submit" value="ログイン">
            </form>
        </div>
    </div>
</body>
</html>