*{
    margin:0;
    padding: 0;
}

body {
    cursor: url('../foo510.cur'), auto;
    background-image: url('/img/짱구대표배경.png');
}

ul,li{
    list-style:none;
}

a{
    text-decoration: none;
}

#LOGO > a > img{
    float: left;
    width: 200px;
}

#wrap {
    width: 50%;
    height: 675px;
    /* background-color: #ffffff; */
    margin:0 auto
}

#welcome_user {
    position: relative;
    top: 90px;
    left: 45px;
    justify-content: space-evenly;
    margin: 30px;
    padding-bottom: 20px;
    right: -100px;
    color:rgb(86,212,118);
}

#welcome_title {
    position: relative;
    top: 60px;
    left: 290px;
    justify-content: space-evenly;
    margin: 30px;
    padding-bottom: 40px;
    font-size: 20px;
    right: -100px;
    color:rgb(86,212,118);
}

.user_welcome {
    position: relative;
    width: 80%;
    top: 55px;
    right: -180px;
    vertical-align: middle;
    font-weight: bolder;
    margin: 0 auto;
}

.user_welcome > ul{
    font-size: 20px;
}

