*{
    margin:0;
    padding: 0;
}

ul,li{
    list-style:none;
}

a{
    text-decoration: none;
}

/* 

.logout {
    display: flex; 
    justify-content: flex-end;
}
.user_table {
    width: 100%;
    border-collapse: collapse;
}
th {
    border: 0.5px solid #000;
    background-color: #acc4b4;
}
.user_table td {
    border: 0.5px solid rgb(85, 4, 85);
    padding: 5px;
} */