*{
    margin:0;
    padding: 0;
}

body {
    cursor: url('../foo510.cur'), auto;
    background-image: url('/img/짱구대표배경.png');
    
}


ul,li{
    list-style:none;
}

a{
    text-decoration: none;
}

#wrap {
    width: 40%;
    height: 675px;
    background-color: #ffffff;
    margin:0 auto;
}

#admin_title {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    color:rgb(86,212,118);

}

.admin_login {
    display: flex;
    justify-content: space-evenly;
    font-weight: bolder;
    margin: 60px;
}

.admin_login ul li {
    text-align: center;
    
}

.main li input {
    margin: 10px 5px 3px 10px;
}



.a {
    margin: 12px;
    padding: 2px;
    border:1px solid rgb(50,168,66);
    color:rgb(86,212,118);
    border-width: 2px;
    background-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.a:hover {
    background-color: rgb(74, 139, 114);
    color: white;

}


