*{
    margin: 0;
    padding: 0;
}

body {
    cursor: url('../foo510.cur'), auto;
    background-image: url('/img/짱구대표배경.png');
    
}

ul,li {
    list-style: none;
}

a {
    text-decoration: none;
}

#wrap {
    width: 60%;
    height: 720px;
    margin: 0 auto;
    background-color: #ffffff;
}

/* .logout {
    display: flex; 
    justify-content: flex-end;
} */

#logout_btn {
    margin: -70px 10px 0 0;
    
    
}

#logout_btn a {
    color: rgb(86, 212, 118);

}

#logout_group {
    position: relative;
    /* display: flex; */
    /* float: right;
    padding: 30px 20px 0 0;
    margin: -70px 10px 0 0; */
}


#logout_group button{
    
    padding: 3px;
    border: 1px solid rgb(50, 168, 66);
    border-width: 2px;
    font-weight: bold;
    color: rgb(86, 212, 118);
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
}

#logout_group button:hover {
    background-color: rgb(74, 139, 114);
}

#logout_group button:hover a {
    color: white;
}


/* #logout_btn {
    margin: 10px;
}

#logout_btn a {
    color: rgb(86, 212, 118);
}

#logout button {
    padding: 2px;
    border: 1px solid rgb(50, 168, 66);
    border-width: 2px;
  
    font-weight: bold;
    color: rgb(86, 212, 118);
   
    background-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#logout_btn> :hover {
    background-color: rgb(74, 139, 114);
    color: white;
} */

.user_table {
    width: 100%;
    border-collapse: collapse;
}
th {
    border: 0.5px solid #000;
    background-color: #d2e9d9;
    text-align: center;
}
.user_table td {
    border: 0.5px solid rgb(85, 4, 85);
    padding: 5px;
    text-align: center;
}

#btn_group button {
    padding: 3px;
    border: 1px solid rgb(50, 168, 66);
    border-width: 2px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: rgb(86, 212, 118);
}

#btn_group button:hover {
    background-color: rgb(74, 139, 114);
    color: white;
}


