<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>クレヨンしんちゃん公式のインターネット通販サイト「クレヨンしんちゃん公式オンラインショップ」。しんちゃんをはじめ、シロやぶりぶりざえもんなどのキャラクターグッズが揃っています!</title>
    <link href="/css/board/board_update.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrap">
        <h1 id="update_title">
            修正
        </h1>
        <div id="main_content">
            <div class="board_update_text">
                <form method="post" action="/board/update">
                    <div class="update_list">
                        <span>番号</span>
                        <input type="text" name="idx" value="{{ update_db.idx }}" readonly><br/>
                        <br/>
                        <span>タイトル</span>
                        <input type="text" name="subject" value="{{ update_db.subject }}"><br/>
                        <br/>
                        <span>作者</span>
                        <input type="text" name="nickname" value="{{ update_db.nickname }}"><br/>
                        <br/>
                        <span>内容</span>
                        <input type="text" name="story" value="{{ update_db.story }}"><br/>
                    </div>
                    <div id="btn_group">
                        <button id="back_list_btn"><a href="/board/list">以前</a></button>
                        <input id="update_btn" type="submit" value="修正">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>