<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/board/board_write.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrap">
        <h1 id="LOGO">
            <a href="/">
                <img src="/img/짱구로고이거로.png">
            </a>
        </h1>
        <h2 id="write_title">書く</h2>
        <div class="board_write">
            <form method="post" action="/board/write">
                <ul>
                    <li>
                        タイトル:<input type="text" name="subject" placeholder="제목을 적어주세요">
                    </li>
                    <li>
                        作者:<input type="text" name="nickname" placeholder="이름을 적어주세요">
                    </li>
                    <li>
                        内容:<input type="content" name="story" placeholder="내용을 적어주세요">
                    </li>
                </ul>
                <button id="back_list_btn"><a href="/board/list">以前</a></button>
                <input type="submit" value="書く">
            </form>
        </div>  
    </div>
</body>
</html>