*{
    margin: 0;
    padding: 0;
}

body {
    cursor: url('../foo510.cur'), auto;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}

#LOGO > a > img{
    width: 170px;
}

.main{
    display: flex;
    float: right;
    padding: 20px 20px 0 0;
    margin: -70px 10px 0 0;
}

.a{
    padding: 5px;
    border:1px solid rgb(50, 168, 66);
    border-width: 2px;
    font-weight: bold;
    color: rgb(86, 212, 118);
    background-color: rgba(0,0,0,0);
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.a:hover{
    color:white;
    background-color: rgb(74, 139, 114);
}

#menu{
    display: flex;
    justify-content:space-evenly;
    margin:0 0px 0 100px;
    font-weight: bolder;
}

#menu > ul:hover{
    font-weight: bolder;
    color: rgb(240, 14, 172);
}

.menu_text{
    display: block;
    text-align: center;
}

.text_leftPadding30 {
    padding-left: 30px;
}

#main_content{
    width: 100%;
    height: 675px;
    background-image:url('/img/짱구배경.gif');
}

